<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>IAB</title>
</head>
<body style="background-color:#99ccff;margin-top:4%">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-2"><h1>Welcome to the Incubator Address Book!</h1></div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-2 offset-sm-3">
                <a href="{{ url_for('get_all_users') }}" class="btn btn-info">List Users</a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('user_input') }}" class="btn btn-info">Add User</a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('user_find') }}" class="btn btn-info">Find User</a>
            </div>
        </div>
    </div>
</body>
</html>