<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#99ccff;margin-top:4%">
    <div class="container">
        <h1>Search for user with given ID</h1>
        <form action="{{ url_for('user_find') }}" method="POST">
            <div class="form-group">
                <label for="IdInput">User ID</label>
                <input type="number" class="form-control" id="IdInput" name="IdInput" min="1" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="{{ url_for('index') }}" class="btn btn-info">Return</a>
        </form>
    </div>
</body>
</html>