<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#99ccff;margin-top:4%">
    <div class="container">
        <h1>Insert user data.</h1>
        <form action="{{ url_for('insert_user') }}" method="POST">
            <div class="form-group">
                <label for="IdInput">User ID</label>
                <input type="number" class="form-control" id="IdInput" name="IdInput" min="1" required>
            </div>
            <div class="form-group">
                <label for="NameInput">Name</label>
                <input type="text" class="form-control" id="NameInput" name="NameInput" value="" required>
            </div>
            <div class="form-group">
                <label for="PhoneInput">Phone</label>
                <input type="text" class="form-control" id="PhoneInput" name="PhoneInput"
                       pattern="^[0-9]{5,10}$" placeholder="insert 5 to 10 digits" required>
            </div>
            <div class="form-group">
                <label for="EmailInput">Email</label>
                <input type="email" class="form-control" id="EmailInput" name="EmailInput" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{{ url_for('index') }}" class="btn btn-info">Return</a>
        </form>
    </div>
</body>
</html>